:root { 
--purple_100:#eaabf0; 
--gray_50_01:#f9fbff; 
--gray_50:#fafbff; 
--green_A700:#00ac4f; 
--black_900:#000000; 
--cyan_50_01:#cdf4ff; 
--pink_A400:#ff007a; 
--pink_A700:#d0004a; 
--gray_200_01:#eeeeee; 
--blue_gray_900_02:#303030; 
--deep_purple_A400:#4925e9; 
--blue_gray_900_01:#292d32; 
--blue_gray_900:#333333; 
--red_A700:#d9001a; 
--indigo_A100_4c:#8690e84c; 
--pink_100:#ffa2ce; 
--gray_600:#828282; 
--blue_gray_200:#b5b7c0; 
--pink_50:#ffd4f3; 
--gray_600_02:#7e7e7e; 
--gray_600_01:#757575; 
--gray_500:#acacac; 
--blue_gray_300:#9197b3; 
--blue_800:#0f5ec2; 
--deep_purple_A400_2b:#4f29ea2b; 
--gray_800:#4f4f4f; 
--indigo_50_7f:#e1ecf87f; 
--teal_50:#d3ffe7; 
--gray_200:#f0f0f0; 
--gray_100:#effff6; 
--gray_100_02:#f1effb; 
--deep_purple_A400_02:#4622e8; 
--gray_100_01:#f2efff; 
--deep_purple_A400_01:#5932ea; 
--cyan_50:#caf1ff; 
--white_A700:#ffffff; 
}